<p id="notice"><%= notice %></p>
<h1><%= @user.name.to_s + @user.last_name.to_s %> </h1>
<h2><%= @user.email.to_s %></h2>
<h2><%= @user.phone.to_s %></h2>
<h2><%= @user.password.to_s %></h2>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
